@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Fjalla One', sans-serif;
  color: #424142;
  height: 100%;
}


/*============================================================================*/
/*=============================== RESPONSIVE =================================*/
/*============================================================================*/

html {
  font-size: 0.7em;
}

#banner1 {
  content: url('../img/banner1-sm.jpg');
}

#banner2 {
  content: url('../img/banner2-sm.jpg');
}

#banner3 {
  content: url('../img/banner3-sm.jpg');
}

.carousel-caption > h1 {
  font-size: 3.8rem;
}

.carousel-caption > p {
  font-size: 1.5rem;
}

.attractive-item > h5 {
  font-size: 2rem;
}

.attractive-item > p {
  font-size: 1.5rem;
  padding-bottom: 1.5em;
}

.footer-item {
  text-align: center;
}

@media (max-width: 568px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 2px 0 0 0;
    border-color: white;
    border-style: solid;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 0.7em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.8em;
  }
  #banner1 {
    content: url('../img/banner1-md.jpg');
  }
  #banner2 {
    content: url('../img/banner2-md.jpg');
  }
  #banner3 {
    content: url('../img/banner3-md.jpg');
  }
  .carousel-caption > h1 {
    font-size: 6rem;
  }
  .carousel-caption > p {
    font-size: 1.8rem;
  }
  .attractive-item > h5 {
    font-size: 1.1rem;
  }
  .attractive-item > p {
    font-size: 0.9rem;
    padding-bottom: 0;
  }
  .footer-item {
    text-align: left;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 0.9em;
  }
  #banner1 {
    content: url('../img/banner1-l.jpg');
  }
  #banner2 {
    content: url('../img/banner2-l.jpg');
  }
  #banner3 {
    content: url('../img/banner3-l.jpg');
  }
  .attractive-item > h5 {
    font-size: 1.3rem;
  }
  .attractive-item > p {
    font-size: 1.0rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1em;
  }
  #banner1 {
    content: url('../img/banner1.jpg');
  }
  #banner2 {
    content: url('../img/banner2.jpg');
  }
  #banner3 {
    content: url('../img/banner3.jpg');
  }
  .attractive-item > h5 {
    font-size: 1.5rem;
  }
  .attractive-item > p {
    font-size: 1.1rem;
  }
}


/*============================================================================*/
/*================================ GENERAL ===================================*/
/*============================================================================*/

section {
  padding-top: 2em;
}

.section-title {
  padding: 0 0 3rem 0;
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 50px;
  margin-left: 0;
  margin-right: 0;
  border-top: 3px solid #ea2124;
  left: 50%;
  margin-left: -25px;
}

span {
  display: block;
}


/*============================================================================*/
/*=============================== NAVBAR =====================================*/
/*============================================================================*/

.bg-faded {
  background-color: transparent;
}

.navbar-inverse .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  padding: 0 15px 0 15px;
}

.nav-link:hover {
  color: #ea2124 !important;
}

.nav-link:focus {
  color: white !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.7) !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
/*============================================================================*/
/*=============================== SLIDER =====================================*/
/*============================================================================*/

.carousel, .carousel-item, .carousel-inner, .active {
  height: 100%;
}

.carousel-caption {
  top: 55%;
}

.carousel-caption > h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #ea2124;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption > p {
  padding-top: 2rem;
  text-shadow: 1px 1px 10px #000;
}


/*============================================================================*/
/*============================== ATTRACTIVES =================================*/
/*============================================================================*/

.attractive-item {
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 0 1.5em 0 1.5em;
}

.attractive-item > h5 {
  padding-top: 1.5em;
  text-align: center;
}

.attractive-item > p {
  padding-top: 1.5em;
  text-align: justify;
}

.attractive-image-container {
  height: 150px;
  vertical-align: middle;
}

#trainingVideo {
  padding-top: 1em;
}


/*============================================================================*/
/*================================ INSTAGRAM =================================*/
/*============================================================================*/

#instaFeed {
  padding-bottom: 2em;
}

#instaLink {
  text-decoration: none;
  color: #ea2124;
}

#instaTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


/*============================================================================*/
/*================================== FOOTER ==================================*/
/*============================================================================*/

footer {
  background-color: #424142;
  color: white;
  padding-bottom: 2rem;
}

.footer-item {
  padding-top: 2rem;
}

#mapLink {
  text-decoration: none;
  color: white;
}
